.metadata/.plugins/org.eclipse.debug.core/.launches/mobile-app-ws app.launch
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/48/9014e77bdde300191888bf16549f1bc7
.metadata/.plugins/org.eclipse.core.resources/.history/95/2071157fdde300191888bf16549f1bc7
.metadata/.plugins/org.eclipse.core.resources/.history/b6/d052300fe2e300191888bf16549f1bc7
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.indexes/e4/b9/22/81/c6/21/dc/94/9c/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/2927782134.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
